# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next
/.next/
out/

# nested repo (empty)
/portfolio

# misc
.DS_Store
*.pem
.env*.local
.vercel

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ide
.idea
.vscode

# typescript
*.tsbuildinfo
next-env.d.ts
